*{
    margin: 0%;
}
h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    height: 500px;
}
h1 span{
    color: #037bc0;
}